<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="zero_inertia">
        <inertial>
            <mass value="1e-5" />
            <inertia ixx="1e-5" ixy="0.0" ixz="0.0" iyy="1e-5" iyz="0.0" izz="1e-5" />
        </inertial>
    </xacro:macro>
    <xacro:arg name="vehicle_name" default="this_shoud_be_replaced_by_your_vehicle_name" />
</robot>
