<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="thruster_mass" value="1e-5" />
    <xacro:property name="thruster_ixx" value="1e-6" />
    <xacro:property name="thruster_iyy" value="1e-6" />
    <xacro:property name="thruster_izz" value="1e-6" />
    <xacro:property name="thrust_quadratic_coeff" value="3.313e-3" />
    <xacro:property name="thrust_linear_coeff" value="0.1086" />
    <xacro:property name="thrust_constant_coeff" value="-0.8576" />
    <!-- Throttle = f(revs/s) -->
    <xacro:property name="velocity_quadratic_coeff" value="1.2679e-4"/>
    <xacro:property name="velocity_linear_coeff" value="1.1105e-2"/>
    <xacro:property name="velocity_constant_coeff" value="0.0"/>
    
    <xacro:property name="torque_constant" value="1e-2" />
    <xacro:property name="rpm_scaler" value="1" />
    <xacro:property name="max_rpm" value="3000" />
    <xacro:property name="timeconstant_up" value="0.00" />
    <xacro:property name="timeconstant_down" value="0.00" />

    <xacro:property name="propeller_mesh" value="$(find hippo_sim)/models/thruster/meshes/propeller.dae" />
</robot>
