<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="thruster_mass" value="1e-5" />
    <xacro:property name="thruster_ixx" value="1e-6" />
    <xacro:property name="thruster_iyy" value="1e-6" />
    <xacro:property name="thruster_izz" value="1e-6" />
    <xacro:property name="thrust_linear_coeff" value="15.89e-5" />
    <xacro:property name="thrust_quadratic_coeff" value="23.2e-5" />
    <xacro:property name="torque_constant" value="1e-2" />
    <xacro:property name="rpm_scaler" value="1" />
    <xacro:property name="max_rpm" value="800" />
    <xacro:property name="timeconstant_up" value="0.05" />
    <xacro:property name="timeconstant_down" value="0.05" />
</robot>
